@using Models
@model SellFlowWeb.Models.DataView.AnuncioDataView


<div class="col">
    <div class="card h-100">
        @{ 
            //var src = BaseUrl.Api + "Imagens/Produto/" + Model.produtoObj.id;
            <img src="@Model.produtoObj.imagemdestaque" class="card-img-top imgCard" alt="...">

        }
        @if (double.Parse(Model.percentPromocao.Replace("%", "")) > 0)
        {
            <span class="badge rounded-pill bg-success">Desconto @Model.percentPromocao</span>
        }
        <div class="card-body">
            <h4 class="card-title">@Model.nome</h4>
            <h6 class="card-text">@Model.produtoObj.nome - R$ @Model.valorDecimal</h6>
            <p class="card-text">Vendedor - @Model.vendedor</p>
        </div>
        <div class="card-footer">
            @if ((DateTime.Now.Date - Model.dataCriacao.Date).TotalDays > 0)
            {
                var totaldays = (DateTime.Now.Date - Model.dataCriacao.Date).TotalDays;
                <small class="text-muted">Postado a @totaldays dias.</small>
            }
            else
            {
                var totalminutes = ((int)(DateTime.Now - Model.dataCriacao).TotalMinutes);
                <small class="text-muted">Postado a @totalminutes minutos.</small>
            }
        </div>
    </div>
</div>
